<!DOCTYPE html>
<html>
  {% load static %}
    <body>
        <head>
            <meta name="viewport" content="width=device-width, initial-scale=0.65">
            <link rel="stylesheet" href="{% static "css/styleNT.css" %}">
            <title>LunarChat Alpha Rules (NT)</title>
            <meta chatset="UTF-8">
            <script>function red(pageUrl) {
    window.location.href = pageUrl;
}</script>
            <style>p {
  font-size: 12px;
}</style>
        </head>
    <center>
    <br><br><br><br><br>
<div class="cont" style="width: 300px">
  Rules<hr>
  <div class="window-body has-space">
    <p>Правила:<br><br>
1. Без оскорблений человека/расы/компании/религии<br>
2. Без шантажа<br>
3. Без спама и флуда в никах/сообщениях (нечитабельные тоже входят)<br>
4. Без реклам<br>
5. Без попрошаек<br>
6. Быть адекватным<br>
7. Не использовать баги чата в хороших/плохих целях<br>
8. Не употреблять банворд</p><br><br>
<button onclick="red('/')">Назад</button>
  </div>
</div>
    </center>
</body>
</html>
